<p id="notice"><%= notice %></p>

<% @inflatable.photos.each do |photo| %>
	<%= div_for photo do %>
	<%= image_tag photo.image_url(:medium)%>
	<% end %>
<% end %>

<p>
  <b>Company:</b>
  <%= @inflatable.company_id %>
</p>

<p>
  <b>Name:</b>
  <%= @inflatable.name %>
</p>

<p>
  <b>Description:</b>
  <%= @inflatable.description %>
</p>

<p>
  <b>Is active:</b>
  <%= @inflatable.is_active %>
</p>

<p>
  <b>Up to 4 hours:</b>
  <%= @inflatable.up_to_4_hours %>
</p>

<p>
  <b>Up to 8 hours:</b>
  <%= @inflatable.up_to_8_hours %>
</p>


<% if cookies[:citystate] && cookies[:fromdate] && cookies[:duration] %>

<p><b>Is it bookable?</b> <%= @inflatable.is_bookable(cookies[:fromdate], cookies[:duration])%></p>
<h2>Booked For:</h2>
<p>
	<% @inflatable.booked_for.each do |booking| %>
		<%= booking.party_date.strftime('%D %r') %> til <%= (booking.party_date + (booking.duration).hours).strftime('%D %r')  %> because duration is: <%= booking.duration %>
		<h3>Testing cover</h3>
		<p>from date: <%= (booking.party_date..booking.party_date + (booking.duration).hours).cover?(DateTime.strptime(cookies[:fromdate], '%m/%d/%Y %H:%M %p') ) %><br />
		to date: <%= (booking.party_date..booking.party_date + (booking.duration).hours).cover?(DateTime.strptime(cookies[:fromdate], '%m/%d/%Y %H:%M %p') + (cookies[:duration].to_i).hours ) %></p>
	<% end %>
</p>

<h3>You are looking for:</h3>
<p>
start: <%= cookies[:fromdate] %><br />
to: <%= (DateTime.strptime(cookies[:fromdate], '%m/%d/%Y %H:%M %p') + (cookies[:duration].to_i).hours).strftime('%D %r')  %><br/>
which is a duration of:	<%= cookies[:duration] %> hours
</p>
<% end %>
<%= link_to 'Back', request.referrer || inflatables_path %> | <%= link_to "Book it", new_inflatable_booking_path(@inflatable) %>
